.blog-items {
  display: grid;
  justify-items: center;
  padding-left: 0;
  grid-gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
  list-style: none;
}

.blog-item {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  transform: skewY(-10deg);
  border-radius: 4px;
}

.blog-item:hover::before {
  transform: scale(1);
}

.blog-item::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 270ms all ease-in-out;
  border-radius: 4px;
  background: linear-gradient(
    30deg,
    #d367c1 10%,
    #dedf40 25%,
    #62cb5c 50%,
    #00bbcb 75%,
    #ab79d6 90%
  );
  content: '';
  z-index: -1;
  transform: scale(1.02);
}

.blog-item__content {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-grow: 1;
  padding: 8vh 2.5rem 5vh;
  transform: skewY(10deg);
  text-align: left;
}

.blog-item__content::after {
  top: 1px;
  left: 0;
  width: 100%;
  height: 100%;
  transform: skewY(-10deg);
  background-color: var(--bg);
  content: '';
  position: absolute;
}
